<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>sohaibalasmar-001-site1.etempurl.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>https://sohaibalasmar-001-site1.etempurl.com:8172/MsDeploy.axd?site=sohaibalasmar-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>sohaibalasmar-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>sohaibalasmar-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefualtConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5049.site4now.net;Initial Catalog=DB_A55927_mywebsite;User ID=DB_A55927_mywebsite_admin;Password=sohaib12" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5049.site4now.net;Initial Catalog=DB_A55927_mywebsite;User ID=DB_A55927_mywebsite_admin;Password=sohaib12" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefualtConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SQL5049.site4now.net;Initial Catalog=DB_A55927_mywebsite;User Id=DB_A55927_mywebsite_admin;Password=sohaib12;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefualtConnection-Web.config Connection String">
      <ParameterValue>Data Source=SQL5049.site4now.net;Initial Catalog=DB_A55927_mywebsite;User ID=DB_A55927_mywebsite_admin;Password=sohaib12</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>