<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DefualtConnection" connectionString="Data Source=SQL5049.site4now.net;Initial Catalog=DB_A55927_mywebsite;User Id=DB_A55927_mywebsite_admin;Password=sohaib12;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="153600"/>
  </system.web>
</configuration>
<!--ProjectGuid: {50ca147e-864f-4ecc-b0f1-067a41ca3608}-->